.btn-primary {
    background: #2F3676;
    border: 0px;
    /* dimulai dari atas bawah kanan dan kiri */
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary:hover {
    background: rgb(219, 133, 4);
    border: 0px;
}

.btn-secondary {
    background: none;
    border: 1px solid #bbccdd;
    /* dimulai dari atas bawah kanan dan kiri */
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-weight: bold;
    color: #173a56;
}

.btn-primary:hover {
    background: none;
    border: 1px solid rgb(159,177,197);
    color:#173a56;
}

.herobwa h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #2f281e;
}

.herobwa p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #2f281e;
}

.navbar-nav .nav-link {
    color: #2f281e;
}

@media only screen and (max-width: 992px) {
    .btn-primary, .btn-secondary {
        margin-top: 10px;
        margin-left: 0 !important;
    }
 }